:root {
    /* =~= Theme Properties =~= */
    --theme-font-family-base: system-ui;
    --theme-font-family-heading: system-ui;
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
    --theme-rounded-base: 16px;
    --theme-rounded-container: 8px;
    --theme-border-base: 1px;
    /* =~= Theme On-X Colors =~= */
    --on-primary: 255 255 255;
    --on-secondary: 0 0 0;
    --on-tertiary: 0 0 0;
    --on-success: 0 0 0;
    --on-warning: 0 0 0;
    --on-error: 255 255 255;
    --on-surface: 255 255 255;
    /* =~= Theme Colors  =~= */
    /* primary | #ca00c5 */
	--color-primary-50: 247 217 246; /* ⬅ #f7d9f6 */
	--color-primary-100: 244 204 243; /* ⬅ #f4ccf3 */
	--color-primary-200: 242 191 241; /* ⬅ #f2bff1 */
	--color-primary-300: 234 153 232; /* ⬅ #ea99e8 */
	--color-primary-400: 218 77 214; /* ⬅ #da4dd6 */
	--color-primary-500: 202 0 197; /* ⬅ #ca00c5 */
	--color-primary-600: 182 0 177; /* ⬅ #b600b1 */
	--color-primary-700: 152 0 148; /* ⬅ #980094 */
	--color-primary-800: 121 0 118; /* ⬅ #790076 */
	--color-primary-900: 99 0 97; /* ⬅ #630061 */
	/* secondary | #0196c0 */
	--color-secondary-50: 217 239 246; /* ⬅ #d9eff6 */
	--color-secondary-100: 204 234 242; /* ⬅ #cceaf2 */
	--color-secondary-200: 192 229 239; /* ⬅ #c0e5ef */
	--color-secondary-300: 153 213 230; /* ⬅ #99d5e6 */
	--color-secondary-400: 77 182 211; /* ⬅ #4db6d3 */
	--color-secondary-500: 1 150 192; /* ⬅ #0196c0 */
	--color-secondary-600: 1 135 173; /* ⬅ #0187ad */
	--color-secondary-700: 1 113 144; /* ⬅ #017190 */
	--color-secondary-800: 1 90 115; /* ⬅ #015a73 */
	--color-secondary-900: 0 74 94; /* ⬅ #004a5e */
	/* tertiary | #53c180 */
	--color-tertiary-50: 229 246 236; /* ⬅ #e5f6ec */
	--color-tertiary-100: 221 243 230; /* ⬅ #ddf3e6 */
	--color-tertiary-200: 212 240 223; /* ⬅ #d4f0df */
	--color-tertiary-300: 186 230 204; /* ⬅ #bae6cc */
	--color-tertiary-400: 135 212 166; /* ⬅ #87d4a6 */
	--color-tertiary-500: 83 193 128; /* ⬅ #53c180 */
	--color-tertiary-600: 75 174 115; /* ⬅ #4bae73 */
	--color-tertiary-700: 62 145 96; /* ⬅ #3e9160 */
	--color-tertiary-800: 50 116 77; /* ⬅ #32744d */
	--color-tertiary-900: 41 95 63; /* ⬅ #295f3f */
	/* success | #4bff0f */
	--color-success-50: 228 255 219; /* ⬅ #e4ffdb */
	--color-success-100: 219 255 207; /* ⬅ #dbffcf */
	--color-success-200: 210 255 195; /* ⬅ #d2ffc3 */
	--color-success-300: 183 255 159; /* ⬅ #b7ff9f */
	--color-success-400: 129 255 87; /* ⬅ #81ff57 */
	--color-success-500: 75 255 15; /* ⬅ #4bff0f */
	--color-success-600: 68 230 14; /* ⬅ #44e60e */
	--color-success-700: 56 191 11; /* ⬅ #38bf0b */
	--color-success-800: 45 153 9; /* ⬅ #2d9909 */
	--color-success-900: 37 125 7; /* ⬅ #257d07 */
	/* warning | #ff6600 */
	--color-warning-50: 255 232 217; /* ⬅ #ffe8d9 */
	--color-warning-100: 255 224 204; /* ⬅ #ffe0cc */
	--color-warning-200: 255 217 191; /* ⬅ #ffd9bf */
	--color-warning-300: 255 194 153; /* ⬅ #ffc299 */
	--color-warning-400: 255 148 77; /* ⬅ #ff944d */
	--color-warning-500: 255 102 0; /* ⬅ #ff6600 */
	--color-warning-600: 230 92 0; /* ⬅ #e65c00 */
	--color-warning-700: 191 77 0; /* ⬅ #bf4d00 */
	--color-warning-800: 153 61 0; /* ⬅ #993d00 */
	--color-warning-900: 125 50 0; /* ⬅ #7d3200 */
	/* error | #ff2b2b */
	--color-error-50: 255 223 223; /* ⬅ #ffdfdf */
	--color-error-100: 255 213 213; /* ⬅ #ffd5d5 */
	--color-error-200: 255 202 202; /* ⬅ #ffcaca */
	--color-error-300: 255 170 170; /* ⬅ #ffaaaa */
	--color-error-400: 255 107 107; /* ⬅ #ff6b6b */
	--color-error-500: 255 43 43; /* ⬅ #ff2b2b */
	--color-error-600: 230 39 39; /* ⬅ #e62727 */
	--color-error-700: 191 32 32; /* ⬅ #bf2020 */
	--color-error-800: 153 26 26; /* ⬅ #991a1a */
	--color-error-900: 125 21 21; /* ⬅ #7d1515 */
	/* surface | #404040 */
	--color-surface-50: 226 226 226; /* ⬅ #e2e2e2 */
	--color-surface-100: 217 217 217; /* ⬅ #d9d9d9 */
	--color-surface-200: 207 207 207; /* ⬅ #cfcfcf */
	--color-surface-300: 179 179 179; /* ⬅ #b3b3b3 */
	--color-surface-400: 121 121 121; /* ⬅ #797979 */
	--color-surface-500: 64 64 64; /* ⬅ #404040 */
	--color-surface-600: 58 58 58; /* ⬅ #3a3a3a */
	--color-surface-700: 48 48 48; /* ⬅ #303030 */
	--color-surface-800: 38 38 38; /* ⬅ #262626 */
	--color-surface-900: 31 31 31; /* ⬅ #1f1f1f */
	
}