:root {
    /* =~= Theme Properties =~= */
    --theme-font-family-base: system-ui;
    --theme-font-family-heading: system-ui;
    --theme-font-color-base: 0 0 0;
    --theme-font-color-dark: 255 255 255;
    --theme-rounded-base: 4px;
    --theme-rounded-container: 8px;
    --theme-border-base: 2px;
    /* =~= Theme On-X Colors =~= */
    --on-primary: 255 255 255;
    --on-secondary: 255 255 255;
    --on-tertiary: 255 255 255;
    --on-success: 0 0 0;
    --on-warning: 0 0 0;
    --on-error: 255 255 255;
    --on-surface: 255 255 255;
    /* =~= Theme Colors  =~= */
    /* primary | #c734c1 */
	--color-primary-50: 247 225 246; /* ⬅ #f7e1f6 */
	--color-primary-100: 244 214 243; /* ⬅ #f4d6f3 */
	--color-primary-200: 241 204 240; /* ⬅ #f1ccf0 */
	--color-primary-300: 233 174 230; /* ⬅ #e9aee6 */
	--color-primary-400: 216 113 212; /* ⬅ #d871d4 */
	--color-primary-500: 199 52 193; /* ⬅ #c734c1 */
	--color-primary-600: 179 47 174; /* ⬅ #b32fae */
	--color-primary-700: 149 39 145; /* ⬅ #952791 */
	--color-primary-800: 119 31 116; /* ⬅ #771f74 */
	--color-primary-900: 98 25 95; /* ⬅ #62195f */
	/* secondary | #f94d76 */
	--color-secondary-50: 254 228 234; /* ⬅ #fee4ea */
	--color-secondary-100: 254 219 228; /* ⬅ #fedbe4 */
	--color-secondary-200: 254 211 221; /* ⬅ #fed3dd */
	--color-secondary-300: 253 184 200; /* ⬅ #fdb8c8 */
	--color-secondary-400: 251 130 159; /* ⬅ #fb829f */
	--color-secondary-500: 249 77 118; /* ⬅ #f94d76 */
	--color-secondary-600: 224 69 106; /* ⬅ #e0456a */
	--color-secondary-700: 187 58 89; /* ⬅ #bb3a59 */
	--color-secondary-800: 149 46 71; /* ⬅ #952e47 */
	--color-secondary-900: 122 38 58; /* ⬅ #7a263a */
	/* tertiary | #4f424c */
	--color-tertiary-50: 229 227 228; /* ⬅ #e5e3e4 */
	--color-tertiary-100: 220 217 219; /* ⬅ #dcd9db */
	--color-tertiary-200: 211 208 210; /* ⬅ #d3d0d2 */
	--color-tertiary-300: 185 179 183; /* ⬅ #b9b3b7 */
	--color-tertiary-400: 132 123 130; /* ⬅ #847b82 */
	--color-tertiary-500: 79 66 76; /* ⬅ #4f424c */
	--color-tertiary-600: 71 59 68; /* ⬅ #473b44 */
	--color-tertiary-700: 59 50 57; /* ⬅ #3b3239 */
	--color-tertiary-800: 47 40 46; /* ⬅ #2f282e */
	--color-tertiary-900: 39 32 37; /* ⬅ #272025 */
	/* success | #b2d277 */
	--color-success-50: 243 248 235; /* ⬅ #f3f8eb */
	--color-success-100: 240 246 228; /* ⬅ #f0f6e4 */
	--color-success-200: 236 244 221; /* ⬅ #ecf4dd */
	--color-success-300: 224 237 201; /* ⬅ #e0edc9 */
	--color-success-400: 201 224 160; /* ⬅ #c9e0a0 */
	--color-success-500: 178 210 119; /* ⬅ #b2d277 */
	--color-success-600: 160 189 107; /* ⬅ #a0bd6b */
	--color-success-700: 134 158 89; /* ⬅ #869e59 */
	--color-success-800: 107 126 71; /* ⬅ #6b7e47 */
	--color-success-900: 87 103 58; /* ⬅ #57673a */
	/* warning | #fbb03f */
	--color-warning-50: 254 243 226; /* ⬅ #fef3e2 */
	--color-warning-100: 254 239 217; /* ⬅ #feefd9 */
	--color-warning-200: 254 235 207; /* ⬅ #feebcf */
	--color-warning-300: 253 223 178; /* ⬅ #fddfb2 */
	--color-warning-400: 252 200 121; /* ⬅ #fcc879 */
	--color-warning-500: 251 176 63; /* ⬅ #fbb03f */
	--color-warning-600: 226 158 57; /* ⬅ #e29e39 */
	--color-warning-700: 188 132 47; /* ⬅ #bc842f */
	--color-warning-800: 151 106 38; /* ⬅ #976a26 */
	--color-warning-900: 123 86 31; /* ⬅ #7b561f */
	/* error | #497a44 */
	--color-error-50: 228 235 227; /* ⬅ #e4ebe3 */
	--color-error-100: 219 228 218; /* ⬅ #dbe4da */
	--color-error-200: 210 222 208; /* ⬅ #d2ded0 */
	--color-error-300: 182 202 180; /* ⬅ #b6cab4 */
	--color-error-400: 128 162 124; /* ⬅ #80a27c */
	--color-error-500: 73 122 68; /* ⬅ #497a44 */
	--color-error-600: 66 110 61; /* ⬅ #426e3d */
	--color-error-700: 55 92 51; /* ⬅ #375c33 */
	--color-error-800: 44 73 41; /* ⬅ #2c4929 */
	--color-error-900: 36 60 33; /* ⬅ #243c21 */
	/* surface | #7773a1 */
	--color-surface-50: 235 234 241; /* ⬅ #ebeaf1 */
	--color-surface-100: 228 227 236; /* ⬅ #e4e3ec */
	--color-surface-200: 221 220 232; /* ⬅ #dddce8 */
	--color-surface-300: 201 199 217; /* ⬅ #c9c7d9 */
	--color-surface-400: 160 157 189; /* ⬅ #a09dbd */
	--color-surface-500: 119 115 161; /* ⬅ #7773a1 */
	--color-surface-600: 107 104 145; /* ⬅ #6b6891 */
	--color-surface-700: 89 86 121; /* ⬅ #595679 */
	--color-surface-800: 71 69 97; /* ⬅ #474561 */
	--color-surface-900: 58 56 79; /* ⬅ #3a384f */
	
}